.voltage-item {
      flex: 1;
      padding: 8px;
      border-radius: 10px;
      border-width: 1px;
      border-style: solid;
      display: flex;
      width:100%;
      height:100%;
      align-items: center;
      gap: 8px;

      &.red {

        background: rgba(220, 53, 69, 0.1);
        border-color: #F94B5566;
        .voltage-letter {
          background: #dc3545;
        }
      }

      &.yellow {
        background: rgba(255, 193, 7, 0.1);
        border-color: #FBC22566;
        .voltage-letter {
          background: #ffc107;
        }
      }

      &.blue {
        background: rgba(0, 123, 255, 0.1);
        border-color: #04ABEF66;
        .voltage-letter {
          background: #007bff;
        }
      }

      .voltage-letter {
        width: 32px;
        height: 32px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 12px;
      }

      .voltage-info {

        display: flex;
        flex-direction: column;
        gap: 2px;

        .voltage-value {
          font-size: 12px;
          font-weight: 600;
          color: #495057;
        }

        .current-value {
          font-size: 12px;
          color: #6c757d;
        }
      }
    }