
.new-custom-tabs{
  .tabs-container {
  display: inline-flex;
  background: #f0f3f4;
  border-radius: 8px 8px 0px 0px;
  /* gap: 10px; */
  padding: 4px 8px;
    .tab-btn {
      border: none;
      background: transparent;
      padding: 8px 16px;
      font-size: 12px;
      color: #000;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;
      /* background-color: #E8E8E8; */
      /* border-radius: 50px; */
    }
    
  .tab-btn.active {
    font-weight: 600;
    color: #000;
    font-size: 12px !important;
    /* background-color: #17273D; */
    border-bottom: 3px solid #e57c1f;
  }
}
}




/* .tab-content {
  margin-top: 16px;
} */
