* {
    font-family: "Inter" !important;
}

:root {
    --blue: #2C67BA;
    --white: #fff;
    --gray: #8A8A8A;
    --golden: #E09110;
    --light-gray: #03295405;
    --white-gray: #E4E4E4;
    --black: #000;
    --page-color: #fcfbff;
    --page-name: #1E1E1E;
    --card-head: #61656C;
    --card-count: #203955;
    --button-background: #E7EBFE;
    --card-header: #EAE8F0;
}

.login-page-container .row {
    --bs-gutter-x: 0px !important;
}

.custombtn.btn.btn-danger {
    display: none;
}

.btn {
    border: 0px !important;
}

.btn:hover,
.btn:focus-visible {
    border: 0px !important;
}

.form-check-input:checked {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-group>.btn.active {
    z-index: 0 !important;
}

.global-search {
    input {
        min-height: 38px;
        border-radius: 10px !important;
        border: 1px solid var(--white-gray) !important;
    }
}

.label {
    color: var(--card-head);
    font-size: 12px;
    font-weight: 400;
}

.value {
    color: var(--page-name);
    font-size: 15px;
    font-weight: 500;
}

/* a{
    color: var(--blue) !important;
} */
.login-btn {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border-radius: 10px;
    margin-bottom: 16px;
}

.sign-btn {
    background-color: var(--light-gray) !important;
    color: var(--black) !important;
    border-radius: 10px !important;
    border: 1px solid var(--white-gray) !important;
}

.cancel-btn {
    background-color: var(--light-gray) !important;
    color: var(--black) !important;
    border-radius: 5px !important;
    border: 1px solid var(--white-gray) !important;
    height: 35px;
}

.iot-login-box {
    background: url("../src/assets/iotimages/login-banner.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-size: cover;

    .auth-header {
        padding: 15px 43px 0px 43px;
        background-color: var(--white);
        box-shadow: 0px 4px 5px #0000000D;

        .auth-logo {
            width: auto;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        
    }

    .login-page-container {
        /* .login-height{ */
        /* height: calc(100vh - 90px);
            overflow-y: auto; */
        height: 87%;
        position: relative;

        .side-img {
            width: 100%;
            max-width: 590px;
            height: auto;
            position: absolute;
            left: 0;
            /* top: 170px; */
            bottom: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .header-btn {
            position: absolute;
            top: 15px;
            left: 15px;
            
            
            button {
                background-color: var(--blue);
                border-radius: 10px;
                color: var(--white);
                height: 40px;
                .left-arrow-sec{
                width: 24px;
                height: 24px;
                display: inline-block;
                margin-right: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            }
        }

        /* } */

    }
}

.login-card {
    padding: 42px;
    border-radius: 28px !important;
    border: 1px solid var(--white-gray) !important;
    margin-bottom: 0px !important;
    margin-top: 20px;

    .login-heading {
        .header {
            text-align: center;
            border-bottom: 1px dashed var(--white-gray) !important;
            margin-bottom: 24px;

            h5 {
                font-weight: 600;
                font-size: 32px;
                line-height: 26px;
                color: var(--golden);
                margin-bottom: 14px;
            }

            small {
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                color: var(--gray);
                margin-bottom: 24px;
            }
        }

        .forgot-password {
            font-weight: 500;
            color: var(--gray) !important;
            font-size: 16px;
        }

        .form-bottom {
            color: var(--gray) !important;
            font-size: 14px;

            .terms-condition {
                font-weight: 600;
                color: var(--black) !important;
                font-size: 14px;
            }
        }

    }
}

.contentArea {
    background: var(--page-color);
}

.select-field {
    min-width: 150px;
    border-radius: 10px !important;
    /* border: 1px solid var(--white-gray) !important; */

    .css-yk16xz-control {
        border-radius: 10px !important;
        border: 1px solid var(--white-gray) !important;
        background: var(--white) !important;
    }
}

/* ----------------------------dashboard ----------------------------------*/
.dashboard-page {
    .page-heading {
        color: var(--white);
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0px;
        padding-top: 39px;
        margin-left: 14px;
    }

    .top-cards {
        /* background: var(--white); */
        padding: 16px;
        border: 1px solid #e4e4e44a !important;
        border-radius: 20px;
        margin-top: 35px;
        margin-left: 14px;
        margin-right: 14px;
        background: #00000087;

        .dashboard-count-card {
            padding: 8px 30px 8px 8px;
            border-radius: 10px;

            .icon-sec {
                background: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;

                .icon {
                    width: 25px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .name-sec {
                .name {
                    font-weight: 500;
                    font-size: 13px;
                    /* color: var(--card-head); */
                    color: #FFFFFF99;
                }

                .count {
                    font-weight: 700;
                    font-size: 22px;
                    /* color: var(--card-count); */
                    color: #fff;
                }
            }
        }
    }
}

/* power consumption section */
.power-consumption-sec {
    background: var(--white);
    padding: 20px;
    border-radius: 0px 20px 20px;

    .left-side {
        /* border: 1px solid var(--white-gray) !important;
        border-radius: 20px; */

        .img-sec {
            width: 360px;
            min-width: 360px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .form-sec {
            width: 100%;
            border-radius: 20px;

            .card-body {
                padding: 0;
            }

            h5 {
                color: var(--black);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

}

.power-consumption-small-card-sec {
    .card {
        margin-bottom: 0px;

        .card-body {
            border: 1px solid var(--white-gray) !important;
            border-radius: 20px;
            padding: 15px;
            height: 125px;

            .consumption-card {
                .img-sec {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .label {
                    color: var(--card-head) !important;
                    font-size: 13px;
                    font-weight: 400;
                }

                h5 {
                    color: var(--card-count);
                    font-size: 18px;
                    font-weight: 700;

                }
            }
        }
    }

}

.power-consumption-chart-sec {
    border: 1px solid var(--white-gray) !important;
    border-radius: 20px;

    .card {
        margin-bottom: 0px;
        border-radius: 20px;

        .card-body {
            padding-bottom: 0;

            h5 {
                margin-bottom: 0;
                color: var(--card-count);
                font-size: 18px;
                font-weight: 700;
            }

            .chat-btn-group {
                position: absolute;
                top: 53px;
                left: 26px;

                .btn.active {
                    background: var(--button-background);
                    color: var(--black);
                    border: 0px !important;
                    border-radius: 50px !important;
                }

                .btn:hover,
                .btn:focus-visible {
                    border: 0px !important;
                }
            }

        }
    }
}

.water-tank-label {
    .card {
        border-radius: 20px;
        margin-bottom: 0px;

        .card-body {

            /* border: 1px solid var(--white-gray) !important; */
            /* border-radius: 20px; */
            h5 {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.chart-card {
    .chart-card-left-sec {
        h5 {
            margin-bottom: 0;
            color: var(--card-count);
            font-size: 18px;
            font-weight: 700;
        }

        p {
            margin-bottom: 0;
            color: var(--card-head);
            font-size: 14px;
            font-weight: 00;
        }
    }

    .chart-card-right-sec {
        .btn-group {
            border: 1px solid var(--white-gray);

            .btn.active {
                background: var(--blue);
                color: var(--white);
                border: 0px !important;
            }

            .btn:hover,
            .btn:focus-visible {
                border: 0px !important;
            }
        }

    }
}

.sync-card-label {
    margin-bottom: 0;
    color: var(--card-head);
    font-size: 14px;
    font-weight: 400;
}

/* user Datails */
.user-card {
    border-radius: 10px !important;
    border: 1px solid var(--white-gray) !important;
    margin-bottom: 0 !important;

    .card-body {
        background: #FAFCFD;
        border-radius: 0px 0px 10px 10px;
    }

    .user-card-header {
        background-color: var(--card-header);
        border-radius: 10px 10px 0 0 !important;
        padding: 11px 6px;

        .avatar-sec {
            border: 1px solid var(--white-gray) !important;
            background: var(--white);
            border-radius: 50px;
            padding: 5px;

            .header-name {
                font-size: 16px;
                font-weight: 500;
                color: var(--page-name);
            }
        }

    }
}

.user-details-page {
    .page-user-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;

    }
}

.card-user-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.user-description-page {
    .card-user-details-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

.controller-card {
    .controller-tab-card {
        /* border: 1px solid var(--white-gray) !important; */
        margin-bottom: 0 !important;
    }
}

.user-description-tabs-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.user-description-page {
    .page-user-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;

        .card-user-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

}

.controller-page {
    .page-heading {
        color: var(--page-name);
        font-weight: 500px;
        font-size: 24px;
    }

    .controller-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;

        .card-user-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
    }
}

.user-description-page {
    .card-user-details-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

.controller-card {
    .controller-tab-card {
        /* border: 1px solid var(--white-gray) !important; */
        margin-bottom: 0 !important;
    }
}

.user-description-tabs-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.user-description-page {
    .page-user-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;

        .card-user-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

}

.controller-page {
    .page-heading {
        color: var(--page-name);
        font-weight: 500px;
        font-size: 24px;
    }

    .controller-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
    }
}

.custom-modal-header {
    background: var(--card-header);

    h5 {
        font-weight: 500;
        font-size: 20px;
        color: var(--page-name);
    }
}


/* -----------------dashboard new changes--------------- */
.topbar {
    background: var(--white) !important;
}

.sidebarBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #17273cd6;
    /* opacity: 0.9; */
}

.dashboard-page-top-sec {
    background: url(./assets/iotnewimages/rectangle-dashboard.png);
    height: 280px;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-count-card {
    position: relative;
}

.all-count-card:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid #ffffff54;
}

.boxContainer {
    max-width: 1433px !important;
    overflow: hidden;
}

.dashboard-card-section {

    /* background: url(./assets/iotnewimages/dashboard-background.png); */
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.dashboard-all-card-section {
    position: relative;
    top: -56px;
    padding-left: 19px;
    padding-right: 19px;
}

.consumption-card {

    /* background-color: #2C67BA1A; */
    .card-body {
        padding: 12px;

        .card-head {
            color: #000;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 15px;
        }

        .content-one {
            font-size: 16px;
            font-weight: 700;
        }
    }

}

.boxContainer {
    background-image: url('./assets/iotnewimages/page-bottom-background.png');
    background-attachment: fixed;
    /* <-- keeps it fixed while scrolling */
    background-size: cover;
    /* scales to fit */
    background-position: bottom;
    /* center the image */
    background-repeat: no-repeat;
    /* no tiling */
    margin: 0;
    min-height: calc(100vh - 65px);
}

.noBorder {
    border: 0px !important
}

.controller-page-header {
    font-size: 18px;
    font-weight: 700;
    color: #000;

    span {
        color: #fff;
        background: #04ABEF;
        font-size: 16px;
        font-weight: 700;
        padding: 3px 5px;
        border-radius: 50px;
    }
}

.custom-btn-design {
    /* border: 1px solid #E4E4E4 !important; */
    padding: 3px 10px;
    border-radius: 50px !important;
    height: 35px;
    color: #fff !important;

    img {
        width: 20px !important;
        height: auto !important;
    }
}

.custom-btn-design:hover,
.custom-btn-design:focus-visible {
    /* border: 1px solid #E4E4E4 !important; */
    padding: 3px 12px;
    border-radius: 50px !important;
    /* height: 50px; */
    color: #fff !important;
}

.details-page {
    width: -webkit-fill-available;
    position: relative;
    top: -143px;
}

/* back button */
.backImgBtn {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0px !important;
    display: flex;
    background: transparent;

    img {
        width: 100%;
        height: 100%;
    }
}

.notification-badge {
    background: #FFAF1A;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 25px;
}

.new-controller-card {
    .new-controller-tab-card {
        .card-body {
            border: 1px solid var(--white-gray) !important;
            margin-bottom: 0 !important;
            border-radius: 0px 10px 10px 10px;
            background: #FAFCFD;

            .user-description-tabs-content {
                grid-template-columns: 1fr 1fr 1fr !important;
            }
        }
    }
}

.no-header-user-card {
    .card-body {
        margin-bottom: 0 !important;
        border-radius: 10px 10px 10px 10px !important;
        background: #fff !important;

    }
}

.no-data-found-page {
    min-height: 400px;

    .no-data-found-card {

        img {
            width: 112px;
            height: auto;
        }
    }
}
.notification-card{
    grid-template-columns: 1fr 1fr 1fr;
}
.details-card{
    .card-body{
        background: #FAFCFD !important;
        border-radius: 20px !important;
    }
    .red-background{
        background: #D8432E1A !important;
    }
    .green-background{
        background: #0097551A !important;
    }

}
.all-details-tab-card{
    .card-body{
     border-radius: 0px 10px 10px 10px;
     background: #FAFCFD;
     border: 1px solid var(--white-gray) !important;
    }
     
}
.controller-section{
    padding: 20px;
    border: 1px solid var(--white-gray) !important;
    background: #fff;
    border-radius: 10px;
}
.motor-details-table{
    border: 1px solid var(--white-gray) !important;
    border-radius: 10px;
    thead{
        tr{
            background: #F9F9F9;
            th{
                color: #9692AB;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    
}
.rounded-border{
    .card-body{
        border-radius: 10px !important;
    }
}

.navigate-btn{
    button{
        padding: 7px 15px;
        border-radius: 5px;
        background: #0147fb;
        color: #fff;
        border: 0px;
    }
}
.large-logo {
  display: block;
}

.small-logo {
  display: none;
}

/* When sidebar is mini */
.isMiniSidebar .large-logo {
  display: none !important;
}

.isMiniSidebar .small-logo {
  display: block !important;
}
.submit-btn{
  background-color: #203955 !important;
  border-radius: 5px;
  color: #fff !important;
}
.motor-details-notification-bottom{
    .image-sec{
        width: 20px;
        height: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    
}
.lat-long-icon{
    width: 18px;
    height: 18px;
    img{
        width: 100%;
        height: 100%;
    }
}
