* {
    font-family: 'Poppins', sans-serif !important;
}

:root {
    --blue: #2C67BA;
    --white: #fff;
    --gray: #8A8A8A;
    --golden: #E09110;
    --light-gray: #03295405;
    --white-gray: #E4E4E4;
    --black: #000;
    --page-color: #fcfbff;
    --page-name: #1E1E1E;
    --card-head: #61656C;
    --card-count: #203955;
    --button-background: #E7EBFE;
}

.row {
    --bs-gutter-x: 0px !important;
}
.btn{
  border: 0px !important;  
}
.btn:hover,
.btn:focus-visible {
    border: 0px !important;
}

.form-check-input:checked {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-group>.btn.active {
    z-index: 0 !important;
}

/* a{
    color: var(--blue) !important;
} */
.login-btn {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border-radius: 10px;
    margin-bottom: 16px;
}

.sign-btn {
    background-color: var(--light-gray) !important;
    color: var(--black) !important;
    border-radius: 10px !important;
    border: 1px solid var(--white-gray) !important;
}

.iot-login-box {
    background: url("../src/assets/iotimages/login-banner.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-size: cover;

    .auth-header {
        padding: 15px 43px;
        background-color: var(--white);
        box-shadow: 0px 4px 5px #0000000D;

        .auth-logo {
            width: 250px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .header-btn {
            button {
                background-color: var(--blue);
                color: var(--white);
                border-radius: 10px;
                height: 40px;
                width: 167px;
            }
        }
    }

    .login-page-container {
        /* .login-height{ */
        /* height: calc(100vh - 90px);
            overflow-y: auto; */
        height: 90%;

        .side-img {
            width: 100%;
            max-width: 620px;
            height: auto;
            position: absolute;
            left: 0;
            /* top: 170px; */
            bottom: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        /* } */

    }
}

.login-card {
    padding: 42px;
    border-radius: 28px !important;
    border: 1px solid var(--white-gray) !important;
    margin-bottom: 0px !important;
    margin-top: 40px;

    .login-heading {
        .header {
            text-align: center;
            border-bottom: 1px dashed var(--white-gray) !important;
            margin-bottom: 24px;

            h5 {
                font-weight: 600;
                font-size: 32px;
                line-height: 26px;
                color: var(--golden);
                margin-bottom: 14px;
            }

            small {
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                color: var(--gray);
                margin-bottom: 24px;
            }
        }

        .forgot-password {
            font-weight: 500;
            color: var(--gray) !important;
            font-size: 16px;
        }

        .form-bottom {
            color: var(--gray) !important;
            font-size: 14px;

            .terms-condition {
                font-weight: 600;
                color: var(--black) !important;
                font-size: 14px;
            }
        }

    }
}

.contentArea {
    background: var(--page-color);
}

.select-field {
    min-width: 150px;
    border-radius: 10px !important;
    border: 1px solid var(--white-gray) !important;

    .css-yk16xz-control {
        border-radius: 10px !important;
        border: 1px solid var(--white-gray) !important;
        background: var(--white) !important;
    }
}

/* ----------------------------dashboard ----------------------------------*/
.dashboard-page {
    .page-heading {
        color: var(--page-name);
        font-weight: 500px;
        font-size: 24px;
    }

    .top-cards {
        background: var(--white);
        padding: 16px;
        border: 1px solid var(--white-gray) !important;
        border-radius: 20px;
        margin-top: 35px;

        .dashboard-count-card {
            padding: 8px 30px 8px 8px;
            border-radius: 10px;

            .icon-sec {
                background: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;

                .icon {
                    width: 25px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .name-sec {
                .name {
                    font-weight: 500;
                    font-size: 13px;
                    color: var(--card-head);
                }

                .count {
                    font-weight: 700;
                    font-size: 22px;
                    color: var(--card-count);
                }
            }
        }
    }
}

/* power consumption section */
.power-consumption-sec {
    background: var(--white);
    padding: 20px;
    border-radius: 0px 20px 20px;

    .left-side {
        border: 1px solid var(--white-gray) !important;
        border-radius: 20px;

        .img-sec {
            width: 360px;
            min-width: 360px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .form-sec {
            width: 100%;
            border-radius: 20px;

            h5 {
                color: var(--black);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

}

.power-consumption-small-card-sec {
    .card {
        margin-bottom: 0px;

        .card-body {
            border: 1px solid var(--white-gray) !important;
            border-radius: 20px;
            padding: 15px;
            height: 125px;

            .consumption-card {
                .img-sec {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .label {
                    color: var(--card-head) !important;
                    font-size: 13px;
                    font-weight: 400;
                }

                h5 {
                    color: var(--card-count);
                    font-size: 18px;
                    font-weight: 700;

                }
            }
        }
    }

}

.power-consumption-chart-sec {
    border: 1px solid var(--white-gray) !important;
    border-radius: 20px;

    .card {
        margin-bottom: 0px;
        border-radius: 20px;

        .card-body {
            padding-bottom: 0;

            h5 {
                margin-bottom: 0;
                color: var(--card-count);
                font-size: 18px;
                font-weight: 700;
            }

            .chat-btn-group {
                position: absolute;
                top: 53px;
                left: 26px;

                .btn.active {
                    background: var(--button-background);
                    color: var(--black);
                    border: 0px !important;
                    border-radius: 50px !important;
                }

                .btn:hover,
                .btn:focus-visible {
                    border: 0px !important;
                }
            }

        }
    }
}

.water-tank-label {
    .card {
        border-radius: 20px;
        margin-bottom: 0px;

        .card-body {
            border: 1px solid var(--white-gray) !important;
            border-radius: 20px;
        }
    }
}

.chart-card {
    .chart-card-left-sec {
        h5 {
            margin-bottom: 0;
            color: var(--card-count);
            font-size: 18px;
            font-weight: 700;
        }

        p {
            margin-bottom: 0;
            color: var(--card-head);
            font-size: 14px;
            font-weight: 00;
        }
    }

    .chart-card-right-sec {
        .btn-group {
            border: 1px solid var(--white-gray);
            .btn.active {
                background: var(--blue);
                color: var(--white);
                border: 0px !important;
            }

            .btn:hover,
            .btn:focus-visible {
                border: 0px !important;
            }
        }

    }
}
.sync-card-label{
    margin-bottom: 0;
    color: var(--card-head);
    font-size: 14px;
    font-weight: 400;
}